{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="container mt-4">
	<h1 class="text-center heading">{{ .Title }}</h1>
	<small class="text-center d-block text-muted">Posted on {{.Date.Format "Jan 2, 2006"}}</small>
</div>

{{ if .Params.featured_image }}
<img src="{{ .Site.BaseURL }}{{ .Params.featured_image }}" class="mx-auto d-block my-4"  alt="">
{{ else if .Params.image }}
<img src="{{ .Site.BaseURL }}{{ .Params.image }}" class="mx-auto d-block my-4"  alt="">
{{ end }}



<article style="max-width:890px" class="container w-100 my-5">
	{{ .Content }}

	{{ partial "share.html" . }}

	{{ partial "disqus.html" . }}

</article>

{{ partial "footer.html" . }}
{{ partial "footer-scripts.html" . }}